@import '../../globals/css/global-styles.css';

:host {
  width: 100%;
  max-width: 30rem;
  height: fit-content;
  background-color: var(--color-backdrop);
  color: var(--color-backdrop-text);
  padding: 2rem;
  border-radius: 1rem;
  font-size: large;
}

section {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  & > div {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 50%;
    max-width: 600px;

    & > p {
      width: var(--name-width, 50%);
      text-align: left;
    }

    & > div {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      & > div {
        text-align: center;
        width: 1.5rem;
      }
    }
  }
  & .ready {
    color: green;
  }
  & .pending {
    color: rgb(218, 129, 28);
  }
}
