:host {
  display: block;
}

section {
  display: flex;
  gap: 1rem;
}

#button-container{
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem;
  padding: 1rem;
  container-type: inline-size;
}

section section {
  margin: 0;
  padding: 0;
}

#line-widths {
  flex-wrap: wrap;
  justify-content: center;
  width: 9rem;
  min-width: 9rem;
}

@container (min-width:19rem){
  #line-widths {
    width: 19rem;
  }
}

button {
  background-color: var(--color-button);
  color: var(--color-button-text);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 4rem;
  height: 4rem;
  border: none;
}

button:hover,
button[data-active] {
  background-color: var(--color-button-hover);
}

button:disabled {
  background-color: var(--color-button-disabled);
}

button svg {
  width: 2.5rem;
  height: 2.5rem;
}

tp-icon-fill-squiggle {
  --stroke-color: var(--color-button-text);
  width: 3rem;
  height: 3rem;
}

#white-clear, #black-clear {
  background-color: var(--color-important);
}

#undo svg {
  rotate: -50deg;
}

#redo svg {
  rotate: 50deg;
}

#black-clear {
  color: black;
}
