:host {
  display: block;
  margin-top: -0.5rem;
  width: var(--full-width, 10rem);
  --block-size: 4rem;
  --icon-size: 2.5rem;
  --spacing-size: 1rem;
  --half-spacing: 0.5rem;
  --squiggle-size: 3rem;
  --double-size: 9rem;
}

section {
  display: flex;
  gap: var(--spacing-size);
}

#button-container {
  flex-wrap: wrap;
  justify-content: center;
  margin: var(--half-spacing);
  padding: var(--spacing-size);
  container-type: inline-size;
  align-content: var(--horizontal, initial);
  flex-direction: var(--flip-pos, row);
  height: var(--flip-height, initial);
}

section section {
  margin: 0;
  padding: 0;
}

#line-widths {
  flex-wrap: wrap;
  justify-content: center;
  width: var(--double-size);
  min-width: var(--double-size);
}

button {
  background-color: var(--color-button);
  color: var(--color-button-text);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--half-spacing);
  width: var(--block-size);
  height: var(--block-size);
  border: none;
  cursor: pointer;
}

#submit-button {
  min-width: var(--double-size);
  font-size: large;
  font-weight: 600;
}

button:hover,
button[data-active] {
  background-color: var(--color-button-hover);
}

button:disabled {
  background-color: var(--color-button-disabled);
}

button svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

tp-icon-fill-squiggle {
  --stroke-color: var(--color-button-text);
  width: var(--squiggle-size);
  height: var(--squiggle-size);
}

#white-clear,
#black-clear {
  background-color: var(--color-important);
}

#undo svg {
  rotate: -50deg;
}

#redo svg {
  rotate: 50deg;
}

#black-clear {
  color: black;
}

@media screen and (max-height: 450px) {
  :host {
    margin-top: -0.3rem;
    width: 7.25rem;
    --block-size: 2.75rem;
    --icon-size: 1.75rem;
    --spacing-size: 0.6rem;
    --half-spacing: 0.3rem;
    --squiggle-size: 2.25rem;
    --double-size: 6.6rem;
  }
}
