/* Used as a combinator for "really needs backdrop"*/
/* This way it can be passed on in themes where needs backdrop is not universal */
.really {
  --optional-text-backdrop: var(--color-backdrop);
  color: var(--color-backdrop-text);
}
.needs-backdrop {
  background-color: var(--optional-text-backdrop);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: -0.25rem;
}