.align-end {
  justify-content: flex-end;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.mb-4 {
  margin-bottom: 1rem;
}

.playerlist {
  width: 100%;
  max-width: 30rem;
  height: fit-content;
  background-color: var(--color-backdrop);
  color: var(--color-backdrop-text);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-radius: 1rem;
  font-size: large;
}
.playerlist > div {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
}
.playerlist .ready {
  color: green;
}
.playerlist .pending {
  color: rgb(218, 129, 28);
}

/* Used as a combinator for "really needs backdrop"*/
/* This way it can be passed on in themes where needs backdrop is not universal */
.really {
  --optional-text-backdrop: var(--color-backdrop);
}
.needs-backdrop {
  background-color: var(--optional-text-backdrop);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: -0.25rem;
}
