/* @display-name: "Candy Vomit" */
/* @extends: "light" */
.candy {
  --color-brand: #f42f65;
  --color-button: var(--color-brand);
  --color-button-hover: #8a43db;
  --color-important: #8a43db;
  --image-background: url('/candyCarnival-bkgd.jpg');
  --icon: url('/byfo-logo2.png');
  --chat-background: #888b;

  --optional-text-backdrop: var(--color-backdrop);
}